joblib==1.2.0
mysqlclient==2.1.1
pandas==2.0.1
streamlit==1.22.0
Flask==2.3.2
Jinja2==3.1.2
numpy==1.24.3
mysql==0.0.3
catboost==1.2
scikit-learn==1.2.2
imblearn==0.0
SQLAlchemy==2.0.15
lightgbm==3.3.5
mysql-connector-python==8.0.33